@font-face {
    font-family: 'Adventurer';
    src: url(fonts/Adventurer.woff2) format('woff2');
}

@font-face {
    font-family: 'TinyUnicode';
    src: url(fonts/TinyUnicode.woff2) format('woff2');
}

@font-face {
    font-family: 'Jersey15';
    src: url(fonts/Jersey15-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'HelveticaRound';
    src: url(fonts/helvetica-rounded-bold-5871d05ead8de.woff2) format('woff2');
}

/* background for site + text color */
body {
    background-color: #232025;
    color: #ebe9eb;
    padding: 20px;
    box-sizing: border-box;
}

/* color for hyperlinks*/
a {
    color: #c38ef8;
}

.header {
    font-family: 'Jersey15';
    font-size: 35px;
    margin-bottom: 0px;
}

.header h1 {
    margin: 0;
    line-height: 1;
}

.sub {
    font-family: 'TinyUnicode';
    font-size: 30px;
}

.sub p {
    margin: 0;
    line-height: 1;
}

.body {
    font-family: 'HelveticaRound';
}

.bar {
    font-family: 'HelveticaRound';
    font-size: 18px;
    display: flex;
    gap: 15px;
}

.webring {
    font-family: 'HelveticaRound';
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

.rainbow { /* rainbow :3 */
    background: linear-gradient(to right, #ff4757, #1e90ff, #2ed573, #ffa502, #ff4757);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: flowRight 4s linear infinite;
}

@keyframes flowRight {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.top-nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    flex-wrap: wrap;             
    gap: 15px;
    margin-bottom: 10px; 
}